
/*
rock: #d66b6b
paper: #63c97d
scissors: #66a8c7
*/

body {
    font-size: 12pt;
    font-family: monospace;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button {
    border-radius: 25px;
    margin: 10px;
    border-style: none;
    cursor: pointer;
}

#rock {
    background-color: #d66b6b;
}

#paper {
    background-color: #63c97d;
}

#scissors {
    background-color: #66a8c7;
}

button:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.diagrams {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly
}

.yourChoice {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.compChoice {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    background-color: #dddddd;
    padding: 100px;
    border-radius: 10px;
    margin: 20px;
}

.icon {
    width: 100px;
    padding: 30px;
    border-radius: 15px;
}

.scorebar {
    text-align: center;
}

.restart {
    padding: 10px;
    border-style: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    cursor:pointer;
}

footer {
    text-align: center;
    font-size: 10pt;
}